.orders{
    width: 80%;
    background-color:rgb(146,171,185);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 290px;
    padding-top:80px;
    .order{
        width: 50%;
        border: solid;
        height: auto;
        padding: 20px;

    }
}