.orders{
    width: 80%;
    
    background-color:rgb(146,171,185);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 290px;
    padding-top:80px;
    .order{
        width: 50%;
        border: solid;
        height: 600px;
        padding: 20px;

    }
    .savebtn{
        padding: 10px 20px;
        border: none;
        background-color: rgb(218,157,115);
        color: beige;
        border-radius: 20px;
        margin-left: 20px;

    }
    .orderstatus{
        padding: 10px;
        border: none;
        background-color: beige;
        color: rgb(218,157,115);
        border-radius: 20px;
    }
}