*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to right,rgb(13,30,28) 0%, rgb(14, 41, 40) 500px, rgb(27, 72, 72) 1000px, rgb(13, 55, 56) 1400px, rgb(10, 52, 47)2000px) !important;
}
