.wish {
    margin: 50px 150px;
    .action-buttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .round-button{
        color: rgb(242, 223, 207);
        font-size: 30px
    }
  
    table {
        border: 1px solid rgb(242, 223, 207);
    
      thead {
        tr {
          th {
            color: rgb(242, 223, 207);
          }
        }
      }
    
      tbody {
        tr {
          td {
            color: rgb(242, 223, 207);
  
            &.image-cell {
              img {
                width: auto;
                height: auto;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
  