.chanel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    background: linear-gradient(rgb(24, 43, 41) 0%, rgb(13, 53, 51) 50%, rgb(242, 223, 207) 50%, rgb(242, 223, 207) 100%);

    &__header{
        h2{
            color: rgb(242, 223, 207);
        font-size: 40px;
        font-family: 'Playfair Display', serif;
        }
    } 
    &__body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 110px;
    }  
    &__img{
        z-index: 7;
        width: 25%;
        height: 200px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}